*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* prova di debug */
.debug{
  width: 100%;
  height: 300px;
  background-color: yellow;
}

.debug .row {
  width: 80%;
  height: 200px;
  background-color: black;
}

.mg-center{
  margin: auto;
}

.debug .row [class*="col-"]{
  background-color: black;
}
